<!doctype html>
<html>
    <head>
        <title>{{ title }} - Readarr</title>
    </head>
    <body>
        <h1>Configured Indexers</h1>
        <p><a href="{{ url_for('add_indexer') }}">Add a new indexer</a></p>
        <table>
            <tr>
                <th>Name</th>
                <th>URL</th>
            </tr>
            {% for indexer in indexers %}
            <tr>
                <td>{{ indexer.name }}</td>
                <td>{{ indexer.url }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <p><a href="{{ url_for('index') }}">Back to Home</a></p>
    </body>
</html>
