{% extends "base.html" %}

{% block content %}
    <h1>Search for Books</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.query.label }}<br>
            {{ form.query(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    {% if results %}
    <h2>Search Results</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Link</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.title }}</td>
            <td>
                <form action="{{ url_for('send_to_client') }}" method="post" style="margin: 0;">
                    <input type="hidden" name="link" value="{{ result.link }}">
                    <input type="submit" value="Send to Client">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
